{% extends "layout.html" %}


{% block b %}

<div class="container">
  <div class="row">
    <div class="col-sm info-col-center">
      <img class="small-block-image" src="/static/images/source.png" />
      <div>This is an open source project, it was created to help you analyse data of different countries quickly</div>
    </div>
    <div class="col-sm info-col-center">
      <img class="small-block-image" src="/static/images/github.png" />
      <div>The code is available at github. Click  <a target="_blank" href="https://github.com/Callibrator/cmat">here</a> for more information</div>
    </div>
    <div class="col-sm info-col-center">
      <img class="small-block-image" src="/static/images/worldmeters.webp" />
      <div>We receive most of our data from <a target="_blank" href="https://www.worldometers.info/coronavirus/">worldometers</a></div>
    </div>
  </div>
</div>


{% endblock %}